/**/

#method-name-input {
    background-color: rgba(63, 63, 63, 0.8);
    /*background-color: rgba(0.247, 0.247, 0.247, 0.804*255);      */
}

#horizontal-divider {
    background-color: rgba(35, 35, 35, 0.8);
    border-color: rgba(35, 35, 35, 0.8);
    height: 0.01px;
    border-bottom-width: 1px;
}